body {
    font-family: Oswald, Verdana, Arial, san-serif;
}

#container {
        margin: 50px 100px auto 100px;
        
}

h1, h2, h3, h4 { 
            background-color: #3c275a;
            color: #fff;
        border: 1px double #D6A800;
            padding: 10px;
<<<<<<< HEAD
               
=======
            
        
>>>>>>> a1b04172b927822e52642a288083fde7bbfbdc54
}

a {
    color: #453674;
    text-decoration: none;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

a:visited {
    color: #3c275a;
}
